{{ define "main" }}

<div class="container">
<h1 id="blind-coders">Blind COders</h1>

<h2>
  Description
</h2>

<p>
  Blind Coders is a site and community about doing serious technical work for those who are blind or have a visual impairment.
</p>

<h2 id="resources">Resources</h2>
<h3 id="listservs">Listservs</h3>
<ul>
<li><a href="https://lists.blindcoders.com/postorius/lists/datascience.blindcoders.com/">Data Science (blindcoders.com)</a>
A list for blind data scientists and learners.</li>
<li><a href="https://www.freelists.org/webpage/pythonvis">Pythonvis</a>
This is a mailing list for visually impaired Python programmers. It’s pretty active.</li>
<li><a href="https://www.freelists.org%60/list/program-l">program-l: V.I. Programmers Discussion List</a>
This is a quite active general mailling list for blind programmers.</li>
<li><a href="https://www.freelists.org/list/raspberry-vi">Raspberry VI</a>
This is a mailing list for blind and VI Raspberry Pi enthusiasts and is a good place to ask about using Linux.</li>
</ul>
<h3 id="books">Books</h3>
<ul>
<li><a href="https://www.amazon.com/Learn-Python-Hard-Way-Introduction/dp/0134692888">Learn Python 3 the Hard Way</a>
<li><a href="https://greenteapress.com/wp/think-python-2e/">Think Python</a></li>
</ul>
<h3 id="textbooks">Textbooks</h3>
<ul>
<li><a href="https://openstax.org/books/introductory-statistics-2e/pages/1-introduction">Introductory Statistics 2e</a>
This free online (screen-reader-accessible) textbook from the OpenStax initiative is a great resource for aspiring (data) scientists, professionals, and anyone interested in building a foundational understanding of statistics. All figures have descriptive alt text, and all mathematical expressions/equations appear in <a href="https://www.chhs.colostate.edu/accessibility/best-practices-how-tos/mathml/">MathML</a>. Download and install the <a href="https://addons.nvda-project.org/addons/MathCAT.en.html">MathCAT plugin for NVDA</a> to read and interactively navigate MathML.</li>
</ul>
<h3 id="other-projects-for-vi-data-science">Other Projects for VI Data Science</h3>
<ul>
<li><a href="https://hassaku.github.io/DS-and-ML-with-screen-reader/">Data Science and Machine Learning for the Visually Impaired</a></li>
<li><a href="earsketch.org">Earsketch — Learn Python Through Music</a></li>
</ul>
<h3 id="personal-accounts">Personal Accounts</h3>
<ul>
<li><a href="https://homes.cs.washington.edu/~ladner/hahnexperiences.html">Experiences of a Blind Computer Scientist</a></li>
</ul>

</div>

{{ end }}
